{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<h1>Connexion</h1>

		{{ form_start(formView)}}
		{{ form_errors(formView)}}
		{{ form_widget(formView)}}
		<button class="btn btn-lg btn-primary" type="submit">
			connexion
		</button>
		{{ form_end(formView)}}

	{% endblock %}
