{{ form_start(formView)}}
{{ form_errors(formView)}}

<div class="row my-5">
	<div class="col-lg-8 mx-auto">
		{{ form_widget(formView)}}
		{% if app.request.attributes.get('_route') == 'trick_edit' %}
			<div>
				{% for picture in trick.pictures %}
					<div>
						<img src="{{ asset('/uploads/' ~ picture.name)}}" alt="image" width="150">
						<a href="{{ path('trick_delete_picture', {'id':picture.id})}}" data-delete data-token="{{ csrf_token('delete'~ picture.id)}}">supprimer</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<div class="text-center">
			<button type="submit" class="btn btn-outline-primary mt-4">
				<i class="fas fa-save"></i>
				{{ submitButtonText ?? "Ajouter" }}</button>
		</div>
		{{ form_end(formView)}}
	</div>
</div>
