<div class="col">
	<div class="card shadow-sm">
		{% if trick.mainPicture == null %}
			<img class="img-fluid" src="{{asset('img/home.jpg')}}" alt="">
		{% else %}
			<img class="img-fluid" src="{{ asset('uploads/' ~ trick.mainPicture )}}"/>
		{% endif %}
		<title>{{ trick.name}}</title>
	</div>
	<div class="card-body">
		<h3 class="text-center">{{ trick.name|upper}}</h3>
		<div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
				<a href="{{ path('trick_show',{ "category_slug" : trick.category.slug ,"slug" : trick.slug }) }}" type="button" class="btn btn-sm btn-outline-primary">View</a>
			</div>
			{% if app.user %}
				<div>
					<a href="{{ path('trick_edit',{"id" : trick.id })}}" type="button" class="btn btn-sm font-primary">
						<i class="fas fa-pen "></i>
					</a>

					{% include "trick/form/_card_delete.html.twig" %}

				</div>
			{% endif %}
		</div>
	</div>
</div>
