{% extends "base.html.twig" %}

{% block title %}
	Figure
	{{ trick.name }}
{% endblock %}

{% block body %}

	<div class="container py-5">
		<div class="row text-center mb-5">
			<h1>{{ trick.name}}</h1>
			<div class="col-lg-10 mx-auto row">
				<img class="img-fluid" src="{{asset('img/home.jpg')}}" alt="">
				<div class="col-lg-7">
					{% include "medias/picturesCarousel.html.twig" %}
				</div>
				<div class="col-lg-5">
					{% include "medias/videosCarousel.html.twig" %}
				</div>
				<p class="text-start col-8 mx-auto">{{trick.description|nl2br}}</p>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="be-comment-block">
			<h2 class="comments-title">Comments</h2>

			{{ render(path('comment_paginated', {trickId: trick.id, page: 1})) }}
			{% if (trick.comments|length) > 0 %}
				<div class="text-center mt-4">
					<a type="button" class="btn btn-outline-primary" id="load" href="#">Load More</a>
				</div>
			{% endif %}

			{% if app.user %}
				{{ form_start(formView)}}
				{{ form_errors(formView)}}
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							{{ form_row(formView.content)}}
						</div>
					</div>
					<button class="btn btn-primary pull-right" type="submit">Send</button>
				</div>
				{{ form_end(formView)}}
			{% else %}
				<div class="mt-5 text-center">
					<p class="d-inline">You must be logged in to leave a comment
					</p>
					<a href="{{path('security_login')}}" class="d-inline text-primary">Log in</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block javascript %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
	<script src="{{ asset('js/load.js')}}"></script>
{% endblock %}
